<div class="page">

    <div class="headline">

        <div class="headline-backbtn" (click)="this.location.back()">
          <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="black"/>
          </svg>
        </div>
        
        
        
        <h1>Eigene Aufgabe hinzufügen</h1>
    
        <div class="placeholder"></div>
    
      </div>

      <div class="input-form">

        <select>
            <option>Psychische Gesundheit</option>
            <option>Haushalt</option>
            <option>Körperlich</option>
            <option>Sozial</option>
            <option>Unterhaltung</option>
            <option>Umwelt</option>
            <option>Kunst</option>
        </select>

        <input type="text" />

        <textarea></textarea>

        <select>
            <option>5 min</option>
            <option>10 min</option>
            <option>30 min</option>
            <option>1 Stunde</option>
        </select>

      </div>

      <div class="submit-button">
        <button type="button" class="btn mr-2 btn-green big-btn" routerLink="/main">
        Erstellen
        </button>
      </div>


      
    
</div>