<div class="page">
  <div class="headline">
    <div class="headline-back-btn" (click)="this.location.back()">
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="black" />
      </svg>
    </div>

    <ng-container *ngIf="editingChallenge == null">
      <h1>Aufgabe hinzufügen</h1>
    </ng-container>
    <ng-container *ngIf="editingChallenge != null">
      <h1>Aufgabe anpassen</h1>
    </ng-container>
    <div class="placeholder"></div>
  </div>

  <div class="input-form">
    <select [(ngModel)]="category">
      <option disabled selected default [ngValue]="undefined">Kategorie auswählen</option>
      <option *ngFor="let category of categories" value="{{ category }}">{{ category | translateCategory}}</option>
    </select>

    <input type="text" placeholder="Titel" [(ngModel)]="title" />

    <textarea placeholder="Beschreibung" [(ngModel)]="description"></textarea>

    <select [(ngModel)]="duration">
      <option disabled selected default [ngValue]="undefined">Zeitdauer auswählen</option>
      <option value="300">5 min</option>
      <option value="600">10 min</option>
      <option value="1800">30 min</option>
      <option value="3600">1 Stunde</option>
    </select>

    <div class="alert alert-danger" role="alert" *ngIf="invalid">
      Es müssen alle Felder ausgefüllt werden.
    </div>

    <ng-container *ngIf="editingChallenge == null">
      <button type="button" style="margin: 0 40px; width: 100%;" class="btn mr-2 btn-green big-btn"
        (click)="onClickCreateChallenge(dialogcontentCreate)">
        Erstellen
      </button>
    </ng-container>
    <ng-container *ngIf="editingChallenge != null">
      <button type="button" style="margin: 0 40px; width: 100%;" class="btn mr-2 btn-green big-btn"
        (click)="onClickModifyChallenge(dialogcontentModify)">
        Modifizieren
      </button>
      <button type="button" style="background: #DE3636; margin: 0 40px; width: 100%;" class="btn mr-2 btn-green big-btn"
        (click)="onClickDeleteChallenge(dialogcontentDelete)">
        Löschen
      </button>
    </ng-container>
  </div>
</div>

<ng-template #dialogcontentCreate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aufgabe erstellt</h4>
  </div>
  <div class="modal-body">
    <p>Die Aufgabe wurde erfolgreich angelegt.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close(modal)">Okay</button>
  </div>
</ng-template>

<ng-template #dialogcontentModify let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aufgabe modifiziert</h4>
  </div>
  <div class="modal-body">
    <p>Die Aufgabe wurde erfolgreich angepasst.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close(modal)">Okay</button>
  </div>
</ng-template>

<ng-template #dialogcontentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aufgabe gelöscht</h4>
  </div>
  <div class="modal-body">
    <p>Die Aufgabe wurde erfolgreich gelöscht.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close(modal)">Okay</button>
  </div>
</ng-template>
