.headline {

    display: flex;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  
    .headline-backbtn {
      cursor: pointer;
      padding: 15px;
      border-radius: 15px;  
    }
  
    .headline-backbtn:hover {
      background-color: #ded7c1;
    } 
  
    h1 {
      font-size: 32px;
      margin-bottom: 0px;
      /* width: -webkit-fill-available; */
      width: 100%;
      text-align: center;
      margin-left: 15px;
      font-weight: bold;
    }
  
    svg {
      width: 20px;
      height: 20px;
    }
  
    /* help keeping title in center: margin(h1) + width(svg)*/
    .placeholder {
      width: 35px;
    }
  }

.submit-button {
  .btn-green {
    background-color: #637454;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-green:hover {
    background-color: #546347;
    outline: none;
  }

  .btn-green:focus {
    background-color: #546347;
    outline: none;
    box-shadow: none;
  }
}

.input-form {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 20px;
    row-gap: 30px;

    select {
        word-wrap: normal;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        border: none;
        color: #a9a9a9; /* TODO: style options */
        
    }
    select:focus {
        outline: none;
        border:2px solid #637454;
        padding: 16px;
    }

    input[type=text] {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        border: none;
    }

    textarea {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        border: none;
        resize: none;
    }

    textarea:focus {
        outline: none;
        border:2px solid #637454;
        padding: 16px;
    }

    input[type=text]:focus {
        outline: none;
        border:2px solid #637454;
        padding: 16px; /*BUG with padding on focus ???*/
    }

    select option {
        /* TODO: styling !!! */
        padding: 10px;
    }

    
}


.submit-button {
    button {
        padding: 15px;
    }
}

.mascot-container {
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: grid;
    svg {
        max-width: 200px;
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}



textarea::-webkit-input-placeholder {
    color: #a9a9a9;
}  
textarea:-moz-placeholder {
    color: #a9a9a9;  
}  
textarea::-moz-placeholder {
    color: #a9a9a9;  
}
textarea:-ms-input-placeholder {
    color: #a9a9a9;  
}  
textarea::placeholder {
    color: #a9a9a9;  
}

input[type=text]::-webkit-input-placeholder {
    color: #a9a9a9;
}  
input[type=text]:-moz-placeholder {
    color: #a9a9a9;  
}  
input[type=text]::-moz-placeholder {
    color: #a9a9a9;  
}
input[type=text]:-ms-input-placeholder {
    color: #a9a9a9;  
}  
input[type=text]::placeholder {
    color: #a9a9a9;  
}


.hint {
    background: #FFFFFF;
    border: 2px solid #637454;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 50px;
  
    /* card shadow */
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 10px 40px 30px 40px;
  
    .icon {
      display: block;
      margin: 15px auto 0 auto;
    }
  
    .caption {
      padding-top: 8px;
      padding-bottom: 15px;
      font-weight: bold;
      text-align: center;
    }
  
    .title {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
  
      letter-spacing: 0.2px;
  
      color: #171D33;
    }
  
    .description {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
  
      margin-top: 10px;
      margin-bottom: 15px;
  
      /* or 143% */
      letter-spacing: 0.2px;
  
      color: #979797;
    }
  }

  .feedback-info-text {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      max-width: 500px;
  }