<div class="page">
  <h1 class="page-headline">Schade.</h1>

  <img class="category-icon" src="../../assets/icon/challenge-canceled.svg">

  <div class="message">
    Keine Sorge, du kannst es mit einer anderen Herausforderung erneut versuchen.
  </div>

  <!--  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"-->
  <!--     data-size="large"-->
  <!--     data-text="Hey look what challenge I completed. You can do it too! #WirVsVirusHack"-->
  <!--     data-show-count="false"-->
  <!--  >-->
  <!--    Tweet-->
  <!--  </a>-->

  <button type="button" class="btn mr-2 big-btn btn-green" routerLink="/main">Zurück zur Startseite</button>
</div>
