.greetingPage svg {
  margin-left: 25%;
  width: 50%;
}

.greetingPage h1 {
  text-align: center;
  width: 100%;
  margin-top: 80px;
  font-size: 32px;
}

.greetingPage p {
  text-align: center;
  width: 100%;
  margin-bottom: 80px;
}

@media (orientation: portrait) {
  .greetingPage {
    margin-top: calc((100vh - 600px) /2);
    margin-left: calc((100vw - 500px) /2);
    width: 500px;
    height: 500px;
  }
}


@media (orientation: landscape) {
  .greetingPage {
    margin-top: calc((100vh - 500px) /2);
    margin-left: calc((100vw - 500px) /2);
    width: 500px;
    height: 500px;
  }

  .greetingPage h1 {
    margin-top: 30px;
  }

  .greetingPage p {
    margin-bottom: 30px;
  }
}
