<div class="page">
  <h1 class="page-headline">Bravo!</h1>

  <img class="category-icon" src="../../assets/icon/challenge-success.svg">

  <div class="message">
    Du hast die Herausforderung abgeschlossen! Lass es Deine Freunde wissen.

    <span class="share">Teile diesen Beitrag:</span>

    <div class="social-btns">
      <a
        href="https://twitter.com/intent/tweet?url=test.de&original_referer=asada&text=Ich habe gerade die Aufgabe '{{title}}' bei der %23HomeAloneChallenge abgeschlossen. %23WirvsVirusHack">
        <img src="../../assets/icon/twitter.svg">
      </a>
      <a>
        <img src="../../assets/icon/facebook.svg">
      </a>
    </div>
  </div>

  <!--  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"-->
  <!--     data-size="large"-->
  <!--     data-text="Hey look what challenge I completed. You can do it too! #WirVsVirusHack"-->
  <!--     data-show-count="false"-->
  <!--  >-->
  <!--    Tweet-->
  <!--  </a>-->

  <button type="button" class="btn mr-2 big-btn btn-green" routerLink="/main">Zurück zur Startseite</button>
</div>
