<div class="page">

  <div class="headline">

    <div class="headline-backbtn" (click)="this.location.back()">
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="black" />
      </svg>
    </div>



    <h1>Gib mir eine Aufgabe.</h1>

    <div class="placeholder"></div>

  </div>

  <div class="content">
    <h2>Kategorien</h2>

    <div class="card-slider">

      <div class="card-slider-item" *ngFor="let category of categories">
        <div class="card-image-container" (click)="selectCategory(category)">
          <img src="assets/category/icon/{{category}}.svg" />
        </div>
        <div class="card-text-container">
          {{category | translateCategory}}
        </div>
      </div>
    </div>

    <h2>Herausforderung des Tages</h2>

    <ng-container *ngIf="dailyChallenge$ | async as dailyChallenge">
      <div class="challenge">
        <span class="challenge-title">{{ dailyChallenge.title }}</span>
        <p class="challenge-description">{{ dailyChallenge.description }}</p>

        <span class="challenge-category">{{ dailyChallenge.category | translateCategory }}</span>
        <span class="challenge-time">{{ dailyChallenge.duration | parseDuration }}</span>
      </div>
    </ng-container>



  </div>
