<div class="page">

  <div class="headline">
    <h1>{{ challenge.category | translateCategory }}</h1>
    <div class="placeholder"></div>
  </div>

  <img class="category-icon" src="../../assets/category/mascots/{{ challenge.category }}.svg">

  <span class="remaining-time">{{ timerOutput }}</span>

  <div class="challenge">
    <span class="challenge-title">{{ challenge.title }}</span>
    <p class="challenge-description">{{ challenge.description }}</p>

    <span class="challenge-category">{{ challenge.category | translateCategory }}</span>
    <span class="challenge-time">{{ challenge.durationSeconds | parseDuration }}</span>
  </div>

  <button type="button" class="btn mr-2 big-btn btn-green" (click)="handleComplete()">Ja! Geschafft!</button>
  <button type="button" class="btn mr-2 big-btn btn-red" (click)="handleCancel()">War nichts für mich</button>
</div>
