<div class="page">


  <div class="headline">

    <div class="headline-backbtn" (click)="this.location.back()">
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="black"/>
      </svg>
    </div>  
    
    
    <h1>{{ challenge.category | translateCategory }}</h1>

    <div class="placeholder"></div>

  </div>


  <img class="category-icon" src="../../assets/category/mascots/{{ challenge.category }}.svg">

  <span class="remaining-time">23 h : 45 min : 58 sec</span>

  <div class="challenge">
    <span class="challenge-title">{{ challenge.title }}</span>
    <p class="challenge-description">{{ challenge.description }}</p>

    <span class="challenge-category">{{ challenge.category | translateCategory }}</span>
    <span class="challenge-time">{{ challenge.duration | parseDuration }}</span>
  </div>

  <button type="button" class="btn mr-2 big-btn btn-green" routerLink="/challenge/completed">Fertig</button>
  <button type="button" class="btn mr-2 big-btn btn-red" routerLink="/challenge/canceled">Aufgeben</button>
</div>

