.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsAndHintContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 47% 43%;
  grid-column-gap: 6%;
  grid-row-gap: 6%;
  width: 90vw;
  flex-grow: 1;
  justify-items: stretch;
  align-items: stretch;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  /*padding-top: 6vh;
  padding-bottom: 6vh;*/
  margin-top: 6vh;
  margin-bottom: 6vh;
  flex-grow: 0;
  margin-left: auto;
  margin-right: auto;
}


.buttonContainer {
  display: grid;
  /*grid-template-columns: auto auto;
  grid-template-rows: auto auto;*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 3vmin;
  grid-row-gap: 3vmin;
  flex-grow: 1;

  button {
    background: #FFFFFF;
    padding: 16px;

    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 6px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /*height: 125px;*/
    height: 100%;

    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;

    /* black light */
    color: #3B414B;    

    svg {
      margin-bottom: 5%;
    }
  }
}

.dashed {
  border: 2px dashed #b1b1b1 !important;
}

.buttonContainer button:hover {
  background-color: #efefef;
}

.buttonContainer button:focus {
  background-color: #efefef;
  outline: none;
  box-shadow: none;
}

.hint {
  background: #FFFFFF;
  border: 2px solid #637454;
  box-sizing: border-box;
  overflow: auto;

  /* card shadow */
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 10px 40px 30px 40px;

  .icon {
    display: block;
    margin: 15px auto 0 auto;
  }

  .caption {
    padding-top: 8px;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
  }

  .title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.2px;

    color: #171D33;
  }

  .description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    margin-top: 10px;
    margin-bottom: 15px;

    /* or 143% */
    letter-spacing: 0.2px;

    color: #979797;
  }
}

@media (orientation: landscape) {
  .buttonsAndHintContainer {
    flex-direction: row;
  }

  .buttonsAndHintContainer {
    display: grid;
    grid-template-columns: 47% 43%;
    grid-template-rows: 100%;
    height: 70vh;
  }
}

/* Evtl. raus  --> hint: fixed size and scrollbar??? */
@media (orientation: portrait) {
  .hint {
    height: fit-content;
  }
}


/* define scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}