<div class="page">

  <div class="headline">

    <div class="headline-backbtn" (click)="this.location.back()">
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="black" />
      </svg>
    </div>

    <h1>Hilfe</h1>

    <div class="placeholder"></div>

  </div>

  <div class="help-content-container">
    <h3 class="c5 c14" id="h.kwkkmi6v1a61"><span class="c18">Telefonische Anlaufstellen bei Krankheitsverdacht:</span>
    </h3>
    <ul class="c0 lst-kix_z0erqs2p5nez-0 start">
      <li class="c4 c15"><span class="c7">Dein Hausarzt.</span></li>
      <li class="c4 c15"><span class="c7">Der ärztliche Bereitschaftsdienst unter 116 117.</span></li>
      <li class="c4 c15"><span>Das zuständige Gesundheitsamt, das Du in der </span><span class="c9"><a class="c1"
            href="https://www.google.com/url?q=https://tools.rki.de/PLZTool/&amp;sa=D&amp;ust=1584965519590000">Suche
            des
            Robert Koch-Instituts</a></span><span class="c7">&nbsp;finden kannst.</span></li>
    </ul>
    <p class="c4 c8"><span class="c7"></span></p>
    <p class="c4"><span class="c7">Aufgrund der aktuellen Lage sind die Leitungen häufig überlastet. Bitte hab ein wenig
        Geduld und versuch es auch in Randzeiten.</span></p>
    <p class="c4 c8"><span class="c7"></span></p>
    <h3 class="c5" id="h.fut8kubz53yz"><span class="c18">Telefonische Anlaufstellen, die zum Thema Coronavirus
        informieren
      </span></h3>
    <ul class="c0 lst-kix_pn44l9oq6mz7-0 start">
      <li class="c10 c16"><span class="c2"><a class="c1"
            href="https://www.google.com/url?q=https://www.patientenberatung.de/de&amp;sa=D&amp;ust=1584965519591000">Unabhängige
            Patientenberatung Deutschland<br></a></span><span class="c11">&nbsp;</span><span class="c17">0800 - 011 77
          22</span></li>
      <li class="c10 c16"><span class="c11">Bürgertelefon des</span><span class="c11"><a class="c1"
            href="https://www.google.com/url?q=https://www.bundesgesundheitsministerium.de/&amp;sa=D&amp;ust=1584965519592000">&nbsp;</a></span><span
          class="c2"><a class="c1"
            href="https://www.google.com/url?q=https://www.bundesgesundheitsministerium.de/&amp;sa=D&amp;ust=1584965519592000">Bundesministeriums
            für Gesundheit</a></span><span class="c11">&nbsp;<br> </span><span class="c17">030 - 346 465 100</span></li>
      <li class="c10 c16"><span class="c11">Allgemeine Erstinformation und Kontaktvermittlung für Verwaltungsfragen
          aller
          Art &nbsp;Mo-Fr 8-18 Uhr unter der</span><span class="c11"><a class="c1"
            href="https://www.google.com/url?q=https://www.115.de/DE/Startseite/startseite_node.html&amp;sa=D&amp;ust=1584965519593000">&nbsp;</a></span><span
          class="c2"><a class="c1"
            href="https://www.google.com/url?q=https://www.115.de/DE/Startseite/startseite_node.html&amp;sa=D&amp;ust=1584965519593000">115</a></span><span
          class="c11">&nbsp;</span></li>
      <li class="c10 c16"><span class="c11">Beratungsservice für Gehörlose und Hörgeschädigte:<br>Mail:
          <a href="mailto:info.deaf@bmg.bund.deg">info.deaf@bmg.bund.de</a> oder <a href="mailto:info.gehoerlos@bmg.bund.de">info.gehoerlos@bmg.bund.de</a></span></li>
    </ul>
    <p class="c8 c26"><span class="c7"></span></p>
    <h3 class="c5" id="h.bmlxzdqiu3k6"><span class="c18">Hilfetelefon Gewalt gegen Frauen: </span></h3>
    <ul class="c0 lst-kix_pn44l9oq6mz7-0">
      <li class="c10 c16"><span class="c22">Kostenfreie Telefonnummer: 08000 - 116 0 16</span></li>
    </ul>
    <h3 class="c5" id="h.n7boe36b5ano"><span class="c18">Allgemeine Telefon-Seelsorge: </span></h3>
    <ul class="c0 lst-kix_pn44l9oq6mz7-0">
      <li class="c10 c16"><span class="c6">Kostenfreie Telefonnummer: 116 123<br>0800 - 111 0 222 (katholisch) bzw. 0800 -
          111 0 111 (evangelisch)</span></li>
    </ul>
  </div>



</div>
