/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$color-background: #EFE7CE;
$color-green: #93A583;
$color-green-dark: #637454;
$color-blue: #A2D6DA;
$color-yellow: #E2B90F;
$color-red: #DE3636;

* {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
}

.page {
  overflow: auto;
  background: $color-background;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px;

  h1.page-headline {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;

    margin-bottom: 25px;

    text-align: center;

    color: #333333;
  }

  .back-btn {
    height: 28px;
    padding: 6px;

    position: absolute;
    left: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .category-icon {
    display: block;
    margin: 0 auto;
  }

  .big-btn {
    display: block;
    width: 70vw;
    margin: 10px auto 0 auto !important;
    border-radius: 7px;
    color: #FFF;
  }

  .btn-red {
    background-color: $color-red;
  }

  .btn-green {
    background-color: $color-green-dark;
  }

}
