.headline {

  display: flex;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .headline-backbtn {
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;

  }

  .headline-backbtn:hover {
    background-color: #ded7c1;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 0px;
    /* width: -webkit-fill-available; */
    width: 100%;
    text-align: center;
    margin-left: 15px;
    font-weight: bold;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  /* help keeping title in center: margin(h1) + width(svg)*/
  .placeholder {
    width: 35px;
  }
}
